* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-family: "Jomhuria", cursive;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 20px;
}
header .container {
  /*   */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
}
.links {
  position: relative;
}
.icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.icon span:first-child {
  width: 100%;
}
.icon span:nth-child(2) {
  width: 50%;
}
.icon span:last-child {
  width: 100%;
}
.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  display: none;
  z-index: 5;
}
.links ul li:hover a {
  padding-left: 25px;
}
.icon:hover span:nth-child(2) {
  width: 100%;
}
.links ul li a {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #333;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.links ul li:not(:last-child) a {
  border-bottom: 1px solid #cac8c8;
}
.links:hover ul {
  display: block;
}
.landing {
  background-image: url("../images/landing.jpg");
  height: calc(100vh - 64px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
  color: #10cab7;
}
.landing p {
  width: 320px;
  text-align: center;
  font-size: 19px;
  line-height: 2;
}
.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}
.features .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
}
.features .container i {
  color: #10cab7;
}
.features .container h3 {
  font-weight: 800;
  margin: 20px 0;
}
.features .container p {
  color: #777;
  line-height: 1.8;
}
.services {
  margin-top: 50px;
}
.services .container {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.common-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
}
.common-heading + p {
  color: #777;
  margin-top: -30px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .common-heading {
    font-size: 70px;
  }
  .common-heading + p {
    font-size: 16px;
    margin-top: -20px;
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 20px;
}
.serv i {
  color: #10cab7;
}
.serv .text h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.serv .text p {
  color: #999;
  line-height: 1.8;
}
.serv .text {
  text-align: start;
  margin-left: 40px;
}
.serv {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .serv {
    flex-direction: column;
    text-align: center;
  }
  .serv .text {
    margin-top: 40px;
    text-align: center;
  }
}
.col .image {
  text-align: center;
  position: relative;
}
.col .image img {
  width: 260px;
}
.col .image::before {
  content: "";
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .col .image {
    display: none;
  }
}
.portfolio {
  margin-top: 50px;
  background-color: #f6f6f6;
  padding: 50px 0;
}
.portfolio .container {
  margin: 0 auto;
  text-align: center;
}
.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.card {
  text-align: start;
  background-color: white;
}
.card .text {
  padding: 20px;
}
.card .text h3 {
  margin-bottom: 10px;
  font-weight: 700;
}
.card .text p {
  color: #777;
  line-height: 1.6;
}
.card .image img {
  width: 100%;
}
.about {
  margin-top: 50px;
}
.about .container {
  margin: 0 auto;
  text-align: center;
}
.about-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 150px;
}
.about-container .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width:1199px) {
  .about-container .image{
    display: none;
  }
  .about-container .text{
    margin-left: 25%;
    text-align: center;
    white-space: normal;
  }
}
.about-container .image img {
  width: 100%;
  z-index: 3;
  position: relative;
  left: 0;
  display: block;
}
.about-container .text {
  width: 100%;
  white-space: break-spaces;
  text-align: start;
  position: relative;
}
.about-container .image::before {
  content: "";
  background-color: #eee9e9;
  height: 120%;
  width: 100px;
  left: -20px;
  top: -10%;
  position: absolute;
}
.about-container .image::after {
  content: "";
  background-color: #10cab7;
  height: 100%;
  width: 85px;
  right: -20px;
  top: -10%;
  position: absolute;
}

hr {
  width: 50%;
  position: absolute;
  right: 40%;
  border-color: #10cab7;
}
.about-container .text p:last-child {
  color: #777;
  line-height: 1.6;
}
.about-container .text p:first-child {
  font-weight: 700;
  line-height: 1.6;
}
.contact {
  margin-top: 50px;
  background-color: #f6f6f6;
  padding: 50px 0;
}
.contact .container {
  margin: 0px auto;
  text-align: center;
}
.contact .container .text {
  margin-top: 80px;
}
.contact .container .text div:first-child {
  color: #2c4755;
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact .container .text div:nth-child(2) a {
  text-decoration: none;
  color: #10cab7;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.contact .container .text div:last-child{
  font-size: 17px;
}
footer{
  background-color: #2c4755;
}
footer .container{
  color: white;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
footer .container span{
  padding: 5px;
  color: #10cab7;
  font-weight: 700;
}